body{
    display: grid;
    height: 100vh;
    place-items: center;
    background: #2b2b2b;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


nav{
    height: 80px;
    background: #ebeef0;
}

nav ul{
    float: right;
    margin-right: 25px;
}
nav ul li{
    display:inline-block;
    line-height: 80px;
    margin: 0 15px;
}
nav ul li a{
    position: relative;
    colour: white;
    font-size: 18px;
    padding: 5px 0;
    text-transform: uppercase;
}
nav ul li a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transform-origin: right;
    transition: transform .4s linear;
}

input[type="checkbox"]
{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}
.check
{
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background: #023e57;
    cursor: pointer;
    border-radius: 50px;
    overflow: hidden;
    transition: ease-in 0.5;
}

input[type="checkbox"]:checked ~ .check
{
    background: #fff;
    box-shadow: 0 0 0 1200px #023e57;
}
}
.check:before
{
    content: '';
    position: absolute;
    top: 2px;
    right: 2px;
    background: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5;
}

input[type="checkbox"]:checked ~ .check:before
{
    transform:translateX(-50px);
}


